
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background-color: #f4f4f9;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}


.login-box h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    font-weight: 600;
}


.login-box label {
    display: block;
    margin: 10px 0 5px;
    color: #555;
}

.login-box input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}


.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #220a6a;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.login-box button:hover {
    background-color: #220a6a;
}


.login-box input:focus {
    outline: none;
    border-color: #220a6a;
}

.login-box .error {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}
